<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class = "main-header">
    
    <div class= "main-header-top">
    
             <a href="/" class ="logo"><img src = "./images/logo-mercado-liebre.svg" ></a>
        
  <!--<form action ="/busqueda" method = "POST" class = "barrabusqueda">
            <label for ="search"></label>
            <input type = "text" id = "search" >
            <button type="submit" value="submit">Lupa</button>
        </form> -->
     
             <div class = "buscar">
                <label for = "search"></label>
                  <input type="text" name = "search" placeholder="Busca lo que quieras" required>
                            <i class="fas fa-search icon"></i>
          
             </div>
        
        
        <div>
            <h2 class= "cuotas"> 
            <i class="fas fa-hand-holding-usd"></i> 
              Comprá en cuotas y sin interes
              </h2> 
        </div>

    </div>

    <a href="#" class="burger-menu">
    <i class="fas fa-bars"></i>
    </a>

    <nav class= "main-header-bottom">  
        <ul class="nombre-producto">
                <li> <a href = "/ofertas.html">Ofertas</a></li>
                <li> <a href = "/tiendasoficiales.html">Tiendas Oficiales</a></li>
                <li> <a href = "/vender.html">Vender</a></li>
                <li> <a href = "/ayuda.html">Ayuda</a></li>
        </ul>

        <ul class="iconos"> 
                <li> <a href = "/register.html">Crea tu cuenta  </a><i class="far fa-address-card"></i></li> 
                <li> <a href = "/login.html">Ingresá  </a><i class="fas fa-sign-in-alt"></i></li>
                <li> <a href = "/miscompras.html">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
  
    </header>
    
    <!-- FORMULARIO -->
    <form action="/crear-producto" method="POST" class="create-form">
        <div class = "control-formulario">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class = "control-formulario">
            <label>Precio del producto:</label>
            <input type="text" name="precio" placeholder="520,56" class="control">
        </div>
        <div class = "control-formulario">
            <label>Categoria:</label>
            <select name ="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electo</option>     
                <option value="Indumentaria">Indumentaria</option>     
            </select>
        </div>
        <div class = "control-formulario">
            <label>Ciudad:</label>
            <select name ="Ciudad" class="control">
                <option value="ba">Buenos Aires</option>
                <option value="ro">Rosario</option>     
                <option value="me">Mendoza</option>     
            </select>
        </div>
        <div class = "control-formulario"> 
            <label>Descripcion:</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class = "control-formulario">
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>
        <button type="submit" class="boton-formulario">Guardar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>

    <main>
      <img src = "./images/img-home-banner.jpg" width="100%">
          
      <section>
            <h3>Basado en tu última visita</h3>
            
            <section class= "sevende">
            <article class = "producto1">
                <img src = "./images/img-cafetera-moulinex.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                <div class = "precio-descuento">
                <p class = "precio">$6.770</p>
                <p class = "des">40% OFF</p>
                </div>
                <p class = "producto">Cafetera Moulinex</p></div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-macbook-pro-2019.jpg">
                <div class= "cajaproducto">
                    <i class="fas fa-truck"></i>
                    <div class = "precio-descuento">
                        <p class = "precio">$230.000</p>
                        <p class = "des">20% off</p>
                     </div>      
                    <p class = "producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-samsung-galaxy-s10.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                    <div class = "precio-descuento">
                     <p class = "precio">$70.500</p>
                     <p class = "des">10% off</p>
                    </div>  
                <p class = "producto">Samsung Galaxy S10</p></div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-tv-samsung-smart.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                <div class = "precio-descuento">
                <p class = "precio">$23.200</p>
                <p class = "des">5% off</p>
                 </div>  
                <p class = "producto">SmartTv Samsung 43"</p></div>
            </article>

        </section>
        </section>

        <section>
            <h3>Ofertas</h3>
            
            <section class= "sevende">
            <article class = "producto1">
                <img src = "./images/img-cafetera-moulinex.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                <div class = "precio-descuento">
                <p class = "precio">$6.770</p>
                <p class = "des">40% OFF</p>
            </div>  
                <p class = "producto">Cafetera Moulinex</p></div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-macbook-pro-2019.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck" class ="camion"></i>
                <div class = "precio-descuento">
                <p class = "precio">$230.000</p>
                <p class = "des">20% off</p>
            </div>  
                <p class = "producto">MacBook Pro 2019</p></div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-samsung-galaxy-s10.jpg"> 
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                <div class = "precio-descuento">
                <p class = "precio">$70.500</p>
                <p class = "des">10% off</p>
            </div>  
                <p class = "producto">Samsung Galaxy S10</p></div>
            </article>

            <article class = "producto1">
                <img src = "./images/img-tv-samsung-smart.jpg">
                <div class= "cajaproducto">
                <i class="fas fa-truck"></i>
                <div class = "precio-descuento">
                <p class = "precio">$23.200</p>
                <p class = "des">5% off</p>
            </div>  
                <p class = "producto">SmartTv Samsung 43"</p></div>
            </article>
        </section>
        </section>
    </main>
    
    <footer>
        <div class = abajodetodo>
        <section class="condiciones">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>    
        </section>
        <section class="condiciones">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>  
             <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. </p>    
         </section>
         <section class="condiciones">
            <i class="fas fa-user-shield"></i>
             <h4>Seguridad, de principio a fin</h4>  
             <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>    
         </section>
        </div>
         <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
           </section>
    </footer>
  </body>
</html>