<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Registro </title>
    <link rel="stylesheet" href ="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class = "main-header">
    
        <div class= "main-header-top">
        
                 <a href="/" class ="logo"><img src = "./images/logo-mercado-liebre.svg" ></a>
            
      <!--<form action ="/busqueda" method = "POST" class = "barrabusqueda">
                <label for ="search"></label>
                <input type = "text" id = "search" >
                <button type="submit" value="submit">Lupa</button>
            </form> -->
         
                 <div class = "buscar">
                    <label for = "search"></label>
                      <input type="text" name = "search" placeholder="Busca lo que quieras" required>
                                <i class="fas fa-search icon"></i>
              
                 </div>
            
            
            <div>
                <h2 class= "cuotas"> 
                <i class="fas fa-hand-holding-usd"></i> 
                  Comprá en cuotas y sin interes
                  </h2> 
            </div>
    
        </div>
    
        <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
        </a>
    
        <nav class= "main-header-bottom">  
            <ul class="nombre-producto">
                    <li> <a href = "/ofertas.html">Ofertas</a></li>
                    <li> <a href = "/tiendasoficiales.html">Tiendas Oficiales</a></li>
                    <li> <a href = "/vender.html">Vender</a></li>
                    <li> <a href = "/ayuda.html">Ayuda</a></li>
            </ul>
    
            <ul class="iconos"> 
                    <li> <a href = "/register.html">Crea tu cuenta  </a><i class="far fa-address-card"></i></li> 
                    <li> <a href = "/login.html">Ingresá  </a><i class="fas fa-sign-in-alt"></i></li>
                    <li> <a href = "/miscompras.html">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
  
    </header>
    
    <!-- FORMULARIO -->
    <main>
    <form action="/resultadoRegister" method="POST" class="formulario-registracion">
    <!-- <form action="/" method="GET" class="formulario-registracion">-->
        <div class = "control-formulario">
            <input type="text" name="nombre" placeholder="Nombre y apellido" class="control" minlength="2" required>
            <span class="feedback"></span>
        </div>
        <div class = "control-formulario">
            <input type="text" name="user" placeholder="Nombre de usuari@" class="control" required>
        </div>
        <div class = "control-formulario">
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha" class="control">
        </div>
        <div class = "control-formulario">
            <input type="text" name="domi" placeholder="Domicilio" class="control" required>
        </div>
        <div class = "control-formulario1">
            <div>Perfil del usuario</div>
            <div class = radio>
            <input type="radio" name="perfilusuario" id = "comprador">
            <label>Comprador</label>
            <input type="radio" name="perfilusuario" id = "vendedor">
            <label>Vendedor</label>
        </div>
        </div>
        <div class = "control-formulario">
            Intereses
            <div class = "control-intereses">
            <label>Electro:
            <input type="checkbox" name="categorias" value="electro" id = "electro" ></label>
            <label>Moda:
            <input type="checkbox" name="categorias" value="moda" id = "moda"></label>
            <label>Hogar:
            <input type="checkbox" name="categorias" value="hogar" id = "hogar"></label>
            <label>Juguetería:
            <input type="checkbox" name="categorias" value="jugueteria" id = "jugueteria"></label>
            <label>Vida sana:
            <input type="checkbox" name="categorias" value="vida-sana" id = "vida-sana"></label>
            </div>
        </div>
        <div class = "control-formulario"> 
            <label>Foto de usuario:</label>
            <input type="file" name ="avatar" accept=".jpg, .png" multiple>
        </div>
        <div class = "control-formulario">
            <label>Contraseña:</label>
            <input type="password" name ="password" class ="control" required>
        </div> 
        <div class = "control-formulario">
            <label>Repetí tu contraseña:</label>
            <input type="password" name ="password" class ="control" required>
        </div>
        <div>

        </div>
        <button type="submit" class="boton-formulario">Guardar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>
</main>
    
<footer>
    <div class = abajodetodo>
    <section class="condiciones">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>    
    </section>
    <section class="condiciones">
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>  
         <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>    
     </section>
     <section class="condiciones">
        <i class="fas fa-user-shield"></i>
         <h4>Seguridad, de principio a fin</h4>  
         <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>    
     </section>
    </div>
     <section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
       </section>
</footer>
  </body>
</html>